<% include ./partials/header %>
    <div class="container" id="landing">
        <h1>Yelp Hotel</h1>
        <p>Feel Free to Browse through our reviews of hotels from around the world</p>
        <a href = "/hotels">View All Hotels</a>
    </div>
    
    
<% include ./partials/footer %>